<body>
    <h1> Delete data for PartOrdersX Table </h1>
    <form action="/partOrders/deleteData" method="POST">
        <input type="text" , name="jobName" , placeholder="Enter job name" , required>
        <input type="number" , name="partId" , placeholder="Enter part ID" , required>
        <input type="number" , name="userId" , placeholder="Enter user ID" , required>
        <button> Submit </button>
    </form>
    <br>
    <form action="/">
        <button> Home </button>
    </form>
    <br>
    <form action="/partOrders/viewData">
        <button> View Data </button>
    </form>
</body>