<!-- Displaying error message -->
<style>
  body{
    height: 71vh;
  }
</style>

<% if(typeof err != "undefined"){ %>
    <div class="container" style="height: 100%; text-align: center; padding: 200px 0">
      <h3>Error</h3>
      <h5>
        <%= err.message %>
      </h5>
    </div>
    <%}else{%>
    <div class="container" style="height: 100%; text-align: center; padding: 200px 0">
      <h3>Page Not Found</h3>
    </div>
    <%}%>
    