<style>
    body{
      height: 71vh;
    }
  </style>

<div class="m-3" style="overflow: auto;">
    <div class="col-sm-6 col-md-6 col-lg-8 mx-auto">
      <center><h1>Invalid Request</h1></center>
    </div>
  </div>
  