<style>
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
</style>

<body>
  <h1>Farmer's Market</h1>
  <div>
    <h2>Our products</h2>
    <p>Here it will go the table of products</p>
  </div>
  <div>
    <h2>Contact info</h2>
    <p>1209 Marginal Rd, Halifax, NS B3H 4P8</p>
    <p>You can find our products in that address or through the online store</p>
    <h2>Hours</h2>
    <p>Saturday & Sunday 7:00 am to 14:00 pm</p>
  </div>

</body>
