<div class="mb-3" style="margin-top: 27vh; overflow: auto;">
    <div class="card border-dark" style="height: 50%; width: 35%;align-self: center; align-content: center;margin-left: 30%;" >
      <h2>register</h2>
      <div class="card-body" >
        <form class="needs-validation" method="POST" action="/twoFactor">

          <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <br />
      </div>
    </div>
  
  </div>
  