<div
class="bg-info fixed-top"
style="text-align: center; padding: 2vh;"
>
<h2>Farmer's Market: Transaction Portal</h2>
<a href="/" class="btn-sm btn-dark">Home</a>
</div>
<div class="mb-3" style="margin-top: 27vh; overflow: auto;">
  <div class="card border-dark" style="height: 50%; width: 35%;align-self: center; align-content: center;margin-left: 30%;" >
    <h2>2-Factor Question Authentication</h2>
    <div class="card-body" >
      <form class="needs-validation" method="POST" action="/authenticateAnswer">
       <h3> <label for="lblpartid"> <%= question %> </label> </h3>
        <br />
        <label for="lblpartid">Answer </label>
        <input
          class="form-control"
          name="txtanswer"
          type = "text"
          placeholder="Enter your pasword"
          maxlength="64"
          required
        />
        <br />
        <input name="correctanswer" type = "hidden" value= <%= answer %> >
        <input name="email" type = "hidden" value= <%= email %> >
        <input name="name" type = "hidden" value= <%= name %> >
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <br />
    </div>
  </div>


  <% if (typeof error != 'undefined'){ if (error != null || error != "") { %>
  
    <div class="card border-danger bg-danger" style="width: 30%;">
      <div class="card-body mx-auto">
        <p class="card-text text-white">
          Pleasae login first.
        </p>
      </div>
    </div>

    <% } %>

    <%  }%>  


</div>
